<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>乐农优选-购物车</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到乐农优选!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>{{uname|safe}}</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">{{uname|safe}}</a>
					<span>|</span>
					<a href="register.html">{{ uuu|safe }}</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">{{ chao|safe }}</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="total_count">全部商品<em>{{ shu }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for i in suoyou %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="item" checked="true" onclick="dianji()" value="{{ i.uprice }}"></li>
		<li class="col02">{{ i.upic|safe}}</li>
		<li class="col03">{{ i.utitle }}<br><em>{{ i.udanjia }}元/500g</em></li>
		<li class="col04">500g</li>
		<li class="col05">{{ i.udanjia }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ i.ushu }}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">{{ i.uprice }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>

{% endfor %}
	

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="true"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="zr7"></em><br>共计<b>{{shu}}</b>件商品</li>
        <input type="text" id="zonghe" value="{{ usum }}">
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 乐农优选信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
    {% for i in suoyou %}
    <script type="text/javascript">
    var panduan = $("#{{ i.id }}").is(":checked");
    var p = document.getElementById('{{ i.id }}').checked;
    var zonghe = document.getElementById('zonghe').value;
    var price = {{ i.uprice }};
function dianji() {
var ch = document.getElementsByName('item');
for (var) 

    </script>
{% endfor %}
</body>
</html>