<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        {##z1{#}
        {#    background-image: url();}#}
        #q1{width:40%;float: left;border: 1px solid white;}
        #q2{width:25%;float: left;border:1px solid white;}
    </style>
</head>
<body>
<form method="post" action="/second/dl">
    <div id="z1">
    <div id="q1"></div>
    <div id="q2">
帐号:<input type="text" name="uname"><br>
密码:<input type="password" name="upwd">
    <input type="submit" value="登录" ></div>
        <div></div></div>
</form>
<h1></h1>
</body>
</html>