<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表新文章</title>
    <style type="text/css">
        #z1{width: auto;height: 200px;border:red solid 1px;}
        #z2{width: auto;height: 1000px;border: red solid 1px;}
        #q1{width:100%;height: 200px;}
        #q2{width:100%;height: 1000px;}
    </style>
</head>
<body>
<form method="post" action="/second/xin">
    <div>
    <div id="z1"><input type="text" id="q1" name="xintitle"></div>
        <div id="z2"><textarea id="q2" name="xinneirong"></textarea>
        <input type="submit" value="发表"></div>


    </div>
</form>

</body>
</html>